$searchBorder: 1px solid #e7e7e7;

.hospital-index-avatar{
  img{
    border-radius: 0px!important;
  }
}
.hospital-index-slide-box{
  height: $slide-box-home + $bar-height+20px;
  img{
    height:$slide-box-home + $bar-height+20px;
  }
}
  .hospital-index-pop{
  height: $bar-height*0.75;
  img{  height: $bar-height*0.75; width: auto}
}
.hospital-index-pop-text{
  font-size: $font-size-normal;
  color: #ffffff;
  margin: 5px!important;
}
.hospital-introduction-head{
  margin-top: 20px;
}
.hospital-introduction-subhead{
  margin-top: 20px;
}
.hospital-introduction-title{
  padding:0 0 $item-padding 0 ;
  border-bottom: 1px $mainBackgroundGray solid;
}
.hospital-introduction-text{
  span{
    white-space: normal!important;
  }
  p {
    color: #444;
    white-space: normal;
  }
//  font-size:$font-size-normal!important;
}
.hospital-title-text{
  line-height: 42px;
}
.hospital-index-margin{
  margin-top: 20px!important;
}

.span-left{
  text-align:left !important;
}
.font-weight{
  font-weight:bold;}

.main-gray-bg-white {
  background-color: #8e8e93 !important; }
.font-green{
  color:green !important;
}
.span-left{
  text-align:left !important;
}
.span-normal{
  white-space:normal!important;
}
.vertical-align-div{
  vertical-align:middle;
}
.padding-right{
  padding-right: 9px !important;
}

.hospital-index-pop-title-text {
  font-size: 18px;
  color: #ffffff;
  margin: 5px !important; }

.hospital-index-pop-title{
  img{  height: 22px; width: auto}
}

.item-title-font-size{
  font-size: 24px;
}

.load-more-text{
    color: #c6c6c9;
    margin: 1.6rem;
}


.search-hospital-item {
   border-top: $searchBorder;
  border-bottom: $searchBorder;
   margin: -1px 1rem;
   padding: .8rem 0;
   text-align: left;
   background-color: #FFFFFF;
  &.h-list:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
   .search-item-title-bar {
     margin-bottom: .9rem;
     overflow: hidden;
     .search-item-name {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       float: left;
       width: 70%;
       font-size: $homeBigFontSize;
       color: $homeFontColor;
       line-height: initial;
     }
     .search-item-level {
       overflow: hidden;
       text-align: right;
       width: 30%;
       margin-top: .1rem;
       .search-label-level {
         text-align: center;
         background-color: $hotHospitalLevelColor;
         color: #fff;
         white-space: nowrap;
         border-radius: 10px;
         font-size: $homeSmallFontSize;
         float: right;
         width: 2.5rem;
         line-height: $homeBigFontSize;
         padding:0 0.3rem;
       }
     }
   }
   .search-item-special-bar {
     overflow: hidden;
     width: 60%;
     margin-bottom: .9rem;
     line-height: initial;
     .search-item-department {
       font-size: $homeNormalFontSize;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       color: $hotHospitalDepartmentFrontColor;
       &.title {
         float: left;
         vertical-align: middle;
       }
       &.departments-text {
         vertical-align: middle;
         float: left;
       }
     }
   }
   .search-item-feature-bar {
     overflow: hidden;
     line-height: 12px;
     .search-item-feature {
       font-size: $homeSmallFontSize;
       text-align: center;
       border: 1px solid;
       border-radius: 1rem;
       margin-right: 1.1rem;
       line-height: initial;
       &.registration {
         padding: 0 .3rem;
         color: $hotHospitalFeatureRegistrationColor;
         float: left;
       }
       &.appointment {
         padding: 0 .3rem;
         color: $hotHospitalFeatureAppointmentColor;
         float: left;
       }
       &.online-pay {
         padding: 0 .3rem;
         color: $hotHospitalOnlinePayColor;
         float: left;
       }
     }
   }
 }
.keyword-highlight{
  em{
    color: #3fae48;
  }
}
.search-item-title{
  font-size: $commonFontSizeNormal;
  color: #c6c6c9;
}

.search-content-background{
  background-color: #eeeeee;
}
.search-white-background{
  overflow: auto;
  background-color: #FFFFFF;
}

.search-disease-name{
  width: 100%;
  font-size: $homeBigFontSize!important;
  text-align: left;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  line-height: initial;
}
.doctor-name{
  font-size: $homeBigFontSize;
  color: $homeFontColor;
  line-height: initial;
}
.doctor-desc{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $homeNormalFontSize!important;
  color: $hotHospitalDepartmentFrontColor;
  .doctor-margin{
    margin: 0 0 0 1rem;
  }
}

.search-doctor{
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 63px;
  min-height: 75px;
  margin: -1px 1rem;
  border-top: $searchBorder;
  border-bottom: $searchBorder;
  &:last-child{
    border-bottom: 0;
  }
}
.search-more-doctor{
  padding-top: 1rem;
  padding-left: 63px;
  min-height: 85px;
  margin: 0 1rem;
  border: none;
  border-bottom: $searchBorder;
}
.search-height{
  height: 50px;
  background-color: $commonDarkGrey!important;
}
.search-gray-gap{
  .list{
    &:last-child{
      border-bottom: 0;
    }
  }
}
.doctor-left-none{
  left: 0!important;
}

.search-border{
  border-bottom: $searchBorder;
  border-top: $searchBorder;
}

.disease-list-height{
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.search-disease{
  position: relative;
  margin: -1px 1rem;
  border-top: $searchBorder;
  border-bottom: $searchBorder;
  &.disease-list:last-child{
    border-bottom: 0;
  }
}
