<ion-view view-title="添加好友" hide-back-button="true">
  <ion-nav-buttons>
    <a class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear border-white button-padding"  ng-click="addRequest()">发送</a>
  </ion-nav-buttons>
  <ion-content>
    <label class="item item-input input-label-padding">
      <span>验证消息:&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input name="desc" maxlength="12" type="text" data-ng-model="add.message">
    </label>
    <label class="item item-input input-label-padding">
      <span>好友备注:&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input name="desc" maxlength="12" type="text" data-ng-model="add.backname">
    </label>
  </ion-content>
</ion-view>
