<ion-view view-title="用户登录" class="main-gray-bg" hide-back-button="true">
  <ion-content>
    <form name="loginForm">
      <div class="content login-head">
        <div class="list">
          <div class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input name="username" type="text" placeholder="手机号" required ng-model="user.username" style="padding-top:4px;" ng-change="inputPassValidaten1(user.username)">
          </div>
          <div class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <!--密文显示-->
            <input name="password" type="password" placeholder="密码"
                   required ng-model="user.password" style="padding-top:4px;">
            <i  class="icon ion-eye-disabled placeholder-icon login-icon-padding"></i>
          </div>

        </div>
        <div class="full-balanced-button">
          <button class="button button-green button-radius8" ng-click="userLogin()"
                  ng-disabled="(loginForm.username.$invalid || loginForm.password.$invalid)">登录
          </button>

        </div>
      </div>
      <div class="row login-forget-a">
        <div class="col col-80">
          <a class="green" ng-click="goRegister()" style="font-size: 12px; color: #8e8e93;text-decoration:none;display:inline-block;width:200px;">新用户注册</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
