<ion-view view-title="登录/注册" class="main-gray-bg" hide-back-button="true">
  <ion-content>
    <form name="loginForm">
      <div class="content login-head">
        <div class="list">
          <ion-item class="item-toggle" style="padding: 0 12px;" ng-click="changeRequest()">
            <div class="doctorIntroduceTop item-icon-right font-gray" >
              <span class="icon ion-upload" style="left: 0px;"></span>
              <span style="padding-left: 27px;color: #8e8e93;">注册新用户</span>
              <label class="toggle toggle-balanced">
                <input type="checkbox" ng-checked="isRegister">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </ion-item>
          <div class="item item-input" style="padding-right: 10%;">
            <span style="font-size: 20px;" class="icon ion-person placeholder-icon"></span>
            <input name="username" type="text" placeholder="{{isRegister?'1-10位数字':'ID'}}" required ng-model="user.userId" style="padding-top:4px;" maxlength="10">
          </div>
          <div class="item item-input">
            <span style="font-size: 20px;" class="icon ion-locked placeholder-icon"></span>
            <!--明文显示-->
            <input ng-if="(passType1 == 'text')" name="password" type="text" placeholder="密码" required
                   ng-model="user.password" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType1 == 'text')" style="font-size: 20px;" class="icon ion-eye placeholder-icon login-icon-padding"
               ng-click="modifyPassType(1)"></span>
            <!--密文显示-->
            <input ng-if="(passType1 == 'password')" name="password" type="password" placeholder="密码"
                   required ng-model="user.password" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType1 == 'password')" style="font-size: 20px;" class="icon ion-eye-disabled placeholder-icon login-icon-padding" ng-click="modifyPassType(1)"></span>
          </div>
          <div class="item item-input" ng-show="isRegister">
            <span style="font-size: 20px;" class="icon ion-locked placeholder-icon"></span>
            <!--明文显示-->
            <input ng-if="(passType2 == 'text')" name="passwordConfirm" type="text" placeholder="确认密码"
                   ng-model="user.passwordConfirm" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType2 == 'text')" style="font-size: 20px;" class="icon ion-eye placeholder-icon login-icon-padding"
                  ng-click="modifyPassType(2)"></span>
            <!--密文显示-->
            <input ng-if="(passType2 == 'password')" name="passwordConfirm" type="password" placeholder="确认密码"
                   required ng-model="user.passwordConfirm" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType2 == 'password')" style="font-size: 20px;" class="icon ion-eye-disabled placeholder-icon login-icon-padding" ng-click="modifyPassType(2)"></span>
          </div>
        </div>
        <div class="full-balanced-button" ng-hide="isRegister">
          <button class="button button-green button-radius8" ng-click="userLogin()"
                  ng-disabled="(loginForm.user.$invalid || loginForm.password.$invalid)">登录
          </button>
        </div>

        <div class="full-balanced-button" ng-show="isRegister">
          <button class="button button-green button-radius8"  ng-click="userRegister()"
                  ng-disabled="(loginForm.user.$invalid || loginForm.password.$invalid || loginForm.passwordConfirm.$invalid)">注册
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
