<ion-view hide-nav-bar="false" hide-back-button="true" view-title="账户">
  <ion-content has-bouncing="false" class="main-gray-bg" scroll="true" >

    <div class="row main-gray-bg-white " style="padding:18px 0;">
      <div class="col col-25" style="padding-left:10px;">
        <img style="height: 60px; width:60px"
             class="img-radius50-border"
             ng-src="{{userInfo.img}}"
             alt="更换头像"
             ng-click="goAccount()">
      </div>
      <div class="col col-66" style="line-height: 60px;">
        <a class="font-white text-center" ng-click="goSetNickname()" ng-bind="userInfo.nickname">点击设置昵称</a>
      </div>
    </div>
    <ul class="qy-list qy-list-space">
      <li class="qy-list-item" ng-click="goAccount()">
        <span class="icon ion-gear-a" style="font-size: 20px;"></span>
        <span class="qy-list-item-text">账户信息</span>
      </li>
      <!--<li class="qy-list-item" ng-click="goMyZone()">-->
        <!--<span class="icon ion-ios-heart" style="font-size: 20px;"></span>-->
        <!--<span class="qy-list-item-text">我的空间</span>-->
      <!--</li>-->
      <li class="qy-list-item" ng-click="goAboutApp()">
        <span class="icon ion-ios-information" style="font-size: 20px;"></span>
        <span class="qy-list-item-text">应用信息</span>
      </li>
      <li class="qy-list-item" ng-click="confirmPop()">
        <span class="icon ion-power" style="font-size: 20px;"></span>
        <span  class="qy-list-item-text">退出登录</span>
      </li>
    </ul>
  </ion-content>
</ion-view>
