<ion-view view-title="登录/注册" class="main-gray-bg" hide-back-button="true">
  <ion-nav-buttons>
    <a class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></a>
  </ion-nav-buttons>
  <ion-content>
    <form name="modifyForm">
      <div class="content login-head">
        <div class="list">
          <div class="item item-input">
            <span style="font-size: 20px;" class="icon ion-locked placeholder-icon"></span>
            <!--明文显示-->
            <input ng-if="(passType1 == 'text')" name="oldPwd" type="text" placeholder="原密码" required
                   ng-model="user.oldPwd" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType1 == 'text')" style="font-size: 20px;" class="icon ion-eye placeholder-icon login-icon-padding"
                  ng-click="modifyPassType(1)"></span>
            <!--密文显示-->
            <input ng-if="(passType1 == 'password')" name="oldPwd" type="password" placeholder="原密码"
                   required ng-model="user.oldPwd" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType1 == 'password')" style="font-size: 20px;" class="icon ion-eye-disabled placeholder-icon login-icon-padding" ng-click="modifyPassType(1)"></span>
          </div>
          <div class="item item-input">
            <span style="font-size: 20px;" class="icon ion-locked placeholder-icon"></span>
            <!--明文显示-->
            <input ng-if="(passType2 == 'text')" name="newPwd" type="text" placeholder="新密码"
                   ng-model="user.newPwd" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType2 == 'text')" style="font-size: 20px;" class="icon ion-eye placeholder-icon login-icon-padding"
                  ng-click="modifyPassType(2)"></span>
            <!--密文显示-->
            <input ng-if="(passType2 == 'password')" name="newPwd" type="password" placeholder="新密码"
                   required ng-model="user.newPwd" style="padding-top:4px;" maxlength="10">
            <span ng-if="(passType2 == 'password')" style="font-size: 20px;" class="icon ion-eye-disabled placeholder-icon login-icon-padding" ng-click="modifyPassType(2)"></span>
          </div>
          <div class="item item-input">
            <span style="font-size: 20px;" class="icon ion-locked placeholder-icon"></span>
            <!--密文显示-->
            <input  name="newPwdConfirm" type="password" placeholder="重新输入新密码"
                   required ng-model="user.newPwdConfirm" style="padding-top:4px;" maxlength="10">
            <span  style="font-size: 20px;" class="icon ion-eye-disabled placeholder-icon login-icon-padding"></span>
          </div>
        </div>

        <div class="full-balanced-button">
          <button class="button button-green button-radius8"  ng-click="submit()"
                  ng-disabled="(modifyForm.oldPwd.$invalid || modifyForm.newPwd.$invalid || modifyForm.newPwdConfirm.$invalid)">提交
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
