.hospitalItem{
  background-color: #ffffff;
  line-height: 56px;
  font-size: 20px;
}
.hospitalItemImg{
  position: absolute;
  top: $item-padding+4 !important;
  left: $item-padding+4 !important;
  max-width: $item-avatar-width+8 !important;
  max-height: $item-avatar-height+8 !important;
  width: 100%;
  height: 100%;
  border-radius: $item-avatar-border-radius;
}
.deptSelectByHospitalSubHeader{
  height: 60px !important;
  background-color:#ffffff !important;
}
.dept-select-by-hospital-subHeader-img{
  padding: 15px 20px 15px 30px !important;
  width: 30px;
  height: 30px;
}
