.patient-list-item{
  margin-right: -33px!important;
}
.patient-input-text{
  font-size: $font-size-large!important;
  line-height: $font-size-large!important;
}
.action-sheet-group .button{
  border-width: 3px 0px 0px 0px;
}
.sex-row{
  padding: 0!important;
}
.sex-row .item{
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}