<ion-view view-title="最近会话">
  <ion-content on-swipe-left="onSwipeLeft()">
    <ion-list>
      <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="message in messages | orderBy:['isTop', 'lastMessage.timeStamp']:true" ng-click="goMessageDetail(message)" ng-show="message.showMessage">
        <img style="max-width: 40px;max-height: 40px;border-radius: 0;" ng-src="img/head/{{message.img}}.png">
        <span class="rj-sm-red-icon" ng-show="message.showHints"><p ng-bind="message.noReadMessages"></p></span>
        <h2 ng-bind="message.backname"></h2>
        <p class="rj-list-p" ng-bind="message.lastMessage.content"></p>
        <span class="rj-push-right" ng-bind="message.lastMessage.time"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
