<ion-view view-title="消息">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-padding-left" ng-repeat="chat in chats" type="item-text-wrap" ng-click="goChat(chat)" ng-show="chat.showChat">
        <img style="max-height: 40px; max-width: 40px;" ng-src="{{chat.img}}">
        <h2 style="line-height: initial;" ng-bind="chat.name">暂无昵称</h2>
        <p class="desc-font" ng-bind="chat.lastText"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="removeChat(chat)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
