<ion-view view-title="聊天记录" hide-back-button="true">
  <ion-nav-buttons>
    <a class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <span style="font-size: 28px;margin-right: 10px;padding-top: 5px;" class="ion-ios-cloud-download-outline" ng-click="downloadRecord()"></span>
  </ion-nav-buttons>
  <ion-content class="xjb-stable-content" delegate-handle="recordScroll" id="record-content">
    <ion-refresher pulling-text="..." on-refresh="doRefresh()" pulling-icon=""></ion-refresher>
    <div ng-repeat="item in record.messages track by item.time">
      <p class="record-message-time" ng-bind="item.screenTime"></p>
      <div class="xjb-message-wrap" ng-if="!item.isFromMe">
        <img ng-src="img/head/{{img}}.png" ng-click="goFriendInfo()" class="xjb-head-pic">
        <span class="xjb-triangle-left"></span>
        <p class="xjb-message" ng-bind="item.content"></p>
      </div>
      <div class="xjb-message-wrap" ng-if="item.isFromMe">
        <img ng-src="img/head/{{user.img}}.png" class="xjb-head-pic-right">
        <span class="xjb-triangle-right"></span>
        <p class="xjb-message-right" ng-bind="item.content"></p>
      </div>
    </div>
    <div style="width: 100%;" ng-show="!record.messages.length">
       <p style="margin-top: 30%;text-align: center;">暂无聊天记录</p>
    </div>
  </ion-content>
  <ion-footer-bar style="background-color: #EE3B3B;border-radius: 10px;" ng-click="deleteRecord()" ng-show="record.messages.length">
    <div style="padding: 5px;width: 100%;">
       <p style="text-align: center;">清空聊天记录</p>
    </div>
  </ion-footer-bar>
</ion-view>
